__pycache__
*.pyc
*.pyo
*.pyd
.venv
venv
env
.git
.gitignore
.vscode
.idea
*.log
dataset
eda_analysis.py
train.py
train_waste_model.py
evaluate.py
run_pipeline.py
model_weights.weights.h5
model.keras
waste_model.keras
waste_predictor.py
waste_preprocessing.py
preprocessing.py
.DS_Store
